//? Миксин адаптивного шрифта
/* purgecss ignore */
$maxWidth = 1980	

adaptiv-font($pcSize, $mobSize)
	$addSize = $pcSize - $mobSize
	$maxWidth = $maxWidth - 320
	font-size: "calc(%spx + %s * ((100vw - 320px) / %s))" % ($mobSize $addSize $maxWidth)

//? Миксин медиа

$tablet = 1012px
$mobile = 414px

mqTablet = "only screen and (max-width: " + $tablet + ")"
mqPhone  = "only screen and (max-width: " + $mobile + ")"

// ? Миксин border

border($width = 1px,$color = var(--border), $radius = 0)
	border $width solid $color
	border-radius $radius
	box-sizing border-box
	&:hover
		border-color: transparent

// ? Миксин before after

// pseudo($display = block,$content = '')
// 	content $content
// 	display $display


// ? Миксин скрыть посвдетку элементов
outline-hide()
	-webkit-tap-highlight-color: rgba(0,0,0,0)
