/* purgecss ignore */
body
	margin: 0
	padding: 0
	font-family: 'Montserrat'
	font-size: 16px
	line-height normal
	min-width: 320px
	background-color: var(--bg)
	overflow-x: hidden
	position: relative
	display: flex
	flex-direction: column



a
	text-decoration: none
	color: var(--link)
	transition .2s
	outline-hide()

button
	transition: .2s
	padding 0
	outline-hide()
	
input::placeholder
	color: var(--ltext)

textarea::placeholder
	color: var(--ltext)

input,textarea 
	outline: none

img 
	display: block
	max-width: auto
	width: 100%
	height: auto

	// *---------------------


.navbar {
  background: var(--header-bg) !important;
}

.header .navbar-brand {
  color: var(--header-text-color) !important;
}

.btn.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active {
  color: var(--default-btn-text-color);
  background-color: var(--default-btn-bg);
  border-color: var(--default-btn-border-color);
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: var(--default-btn-focus-box-shadow);
}
.btn.btn-primary:hover {
  color: var(--default-btn-text-color);
  background-color: var(--default-btn-hover-bg);
  border-color: var(--default-btn-border-color);
}

.btn.btn-danger,
.btn-danger:not(:disabled):not(.disabled):active {
  color: var(--danger-btn-text-color);
  background-color: var(--danger-btn-bg);
  border-color: var(--danger-btn-border-color);
}

.btn.btn-danger:hover {
  color: var(--danger-btn-text-color);
  background-color: var(--danger-btn-hover-bg);
  border-color: var(--danger-btn-border-color);
}

.form-control {
  background: var(--input-bg-color);
  border-color: var(--input-border-color);
  color: var(--input-text-color);
}

.form-control:focus {
  color: var(--input-focus-text-color);
  background-color: var(--input-focus-bg-color);
  border-color: var(--input-focus-border-color);
  box-shadow: var(--input-focus-box-shadow);
}
